@media screen and (min-width:1116px) {

    .dz-bnr-inr.dz-bnr-inr-lg.lines {
        height: 100vh !important;
    }

    .site-header.style-1.header-transparent .main-bar .container {

        position: relative;
        left: -10px;

    }

    .custom-div-about {
        position: relative;
        top: -15px;
    }

    .mt-offer-card {
        margin-top: 32px;
    }

    .logo-header img {
        height: 80px !important;

    }

}

@media screen and (max-width:1115px) {
    .silder-one .silder-content .title {
        font-size: 30px !important;
    }
}

@media screen and (min-width:991px) and (max-width:1115px) {
    .logo-header img {
        height: 80px !important;

    }

    h2.custom-size-head {
        font-size: 2rem !important;
    }

    .logo-header {
        width: 107px !important;

    }

}

html,
body {
    overflow-x: hidden;

}



.site-header.style-1 .header-nav .nav>li>a {
    font-weight: 600 !important;
}

@media screen and (min-width:991px) {
    .offer-container {
        position: relative !important;
        top: -30px !important;
    }

    .icon-bx-wraper.style-6 .dz-title {
        font-size: 22px;
    }
}

.logo-header img {
    height: 70px;
    margin-left: -8px;
}

.site-footer.style-1 .footer-top .footer-logo img {
    height: 85px;
}

.text-gray {
    color: #9d9aaa;
}

.copyright-text .text-gray {
    color: #9d9aaa !important;
}

.text-primary {
    color: #033DA8 !important;
}

.btn-primary {
    background: #033DA8 !important;
    border-color: #033DA8;
}

.silder-one .silder-content .title span {
    text-decoration: 3px underline #033DA8;

}

@media screen and (min-width:577px) {
    img.img2.pre-load-img {
        width: 80px !important;
        height: 80px !important;
        left: 10px !important;
        top: 10px !important;
    }
}

@media screen and (max-width:576px) {
    .icon-cell.text-primary svg.svg-inline--fa.font-size-30 {
        font-size: 26px !important;
        position: relative;
        top: 3px;
    }

    .col-xl-4.col-md-6.m-lg-b30.aos-item.mt-offer-card{
        padding: 0px 10px !important;
    }

    .scroltop.icon-up .svg-inline--fa.fa-arrow-up {
        font-size: 16px !important;
    }

    li.social-f-icon a svg.svg-inline--fa {
        font-size: 18px !important;
    }

    div.sitemap-row div.sitemap-mt.mt-mobile {
        margin-top: 20px;
    }

    .dz-bnr-inr.style-1.dz-bnr-inr-lg.overlay-black-middle.exhibiton-bnr {
        background-image: url('../images/banner/exhi-mobi.png') !important;
        background-repeat: no-repeat;
    }

    .dz-slide-item.overlay-black-middle.third {
        background-image: url('../images/main-slider/third-mobi.png') !important;
        background-repeat: no-repeat;

    }

    .dz-slide-item.overlay-black-middle.second {
        background-image: url('../images/main-slider/second-mobi.png') !important;
        background-repeat: no-repeat;

    }

    .custom-tabs {
        display: block;
        margin: auto;
    }

    .tagcloud a {
        width: 100%;
        height: 110px !important;
        text-align: center !important;
        display: grid !important;
    }

    svg:not(:host).svg-inline--fa,
    svg:not(:root).svg-inline--fa {
        font-size: 22px !important;
        position: relative;
        top: 0px;
    }

    .svg-inline--fa.fa-arrow-right.custom-arr {
        font-size: 16px !important;
        position: relative !important;
        top: 1px !important;
    }

    .tagcloud {

        align-items: center !important;
    }

    .title.process-title {
        font-size: 1.5rem !important;
    }

    .counter-area-1 .media-full {
        width: 90vw !important;
        height: 100%;
        border-left: 5px solid var(--primary);
    }

    img.img2.pre-load-img {
        width: 60px !important;
        height: 60px !important;
        left: 10px !important;
        top: 10px !important;
    }
}

.widget_getintuch ul li {
    padding-left: 0px;
    min-height: auto;
}

.round-logo {
    border-radius: 50%;
}

.icon-bx-wraper.style-6.active .btn,
.icon-bx-wraper.style-6.active .wp-block-button__link,
.icon-bx-wraper.style-6:hover .btn,
.icon-bx-wraper.style-6:hover .wp-block-button__link {
    color: white;

}

/*
.icon-bx-wraper.style-6.new-hover-box.img-1 {
    background: url('../images/offers/PP-HDPE-PET-RECYCLING-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-bx-wraper.style-6.new-hover-box.img-2 {
    background: url('../images/offers/weaving-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-bx-wraper.style-6.new-hover-box.img-3 {
    background: url('../images/offers/FLAT-KNITTING-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-bx-wraper.style-6.new-hover-box.img-4 {
    background: url('../images/offers/dyeing-f-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-bx-wraper.style-6.new-hover-box.img-5 {
    background: url('../images/offers/MAN-MADE-FIBER-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-bx-wraper.style-6.new-hover-box.img-6 {
    background: url('../images/offers/non-w-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-bx-wraper.style-6.new-hover-box.img-7 {
    background: url('../images/offers/WARP-KNITTING-1.png');
    background-size: cover;
    background-repeat: no-repeat;

} */

.icon-bx-wraper.style-6.new-hover-box:hover:after {

    /* background: #033da87e; */
    background: #033DA8;
}

.icon-bx-wraper.style-6.new-hover-box:hover .icon-lg {

    background: white !important;
    padding: 2px;
    border-radius: 5px !important;
}

.icon-bx-wraper.style-6.active:after,
.icon-bx-wraper.style-6:hover:after {
    background: #033DA8;

}

.icon-bx-wraper.style-6.active,
.icon-bx-wraper.style-6:hover {
    /* box-shadow: 0 2px 60px 0 #033da86e; */
    box-shadow: none;
    color: #fff;
}

.custom-oem-btn {
    width: 100% !important;
    font-size: 14px;
}

.breadcrumb-row .breadcrumb .breadcrumb-item::before {
    content: none !important;
}

.breadcrumb-row .breadcrumb .breadcrumb-item {
    padding: 0px 5px;
    text-transform: capitalize;
}

@media screen and (max-width:530px) {
    div.about-sec-txt {
        margin-top: 100px !important;
    }
}

@media screen and (max-width:476px) {
    div.about-sec-txt {
        margin-top: 50px !important;
    }
}

@media screen and (max-width:426px) {
    div.about-sec-txt {
        margin-top: 20px !important;
    }
}

@media screen and (max-width:380px) {
    div.about-sec-txt {
        margin-top: -40px !important;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .tagcloud a {
        padding: 12px 15px !important;
        font-size: 11px !important;
    }
}

@media screen and (max-width:767px) {
    .about-sec-txt {
        margin-top: 150px !important;
    }

    div.dz-bnr-inr.dz-bnr-inr-lg .dz-bnr-inr-entry {
        height: 240px !important;
    }

    div.custom-bread-height.dz-bnr-inr.dz-bnr-inr-lg {
        height: 300px !important;
    }


    div.dz-bnr-inr.dz-bnr-inr-lg {
        height: 400px !important;
    }

    .counter-area-1 .media-full {
        padding-bottom: 0px;
        position: relative;
        bottom: 15px;
    }

    .row.align-items-center.d-block-md {
        display: contents !important;
    }

    .section-head.style-1 h2,
    .section-head.style-1 .h2 {
        font-size: 1.7rem;
    }

}

.btn.ltr-space {
    letter-spacing: 0.02rem !important;
}

.icon-bx-wraper.style-7 .icon-bx-sm {
    border-radius: 0;
    color: #000;
    text-align: center;
    border: 0;
    padding: 0;
    transition: all 0.5s;
    border: 1px solid;
    border-color: #033DA8;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    border-radius: var(--border-radius-sm);
}

.svg-inline--fa.mt--icon {
    background: #033DA8;
    width: 20px;
    padding: 10px;
    height: 20px;

    color: white;
}

.icon-bx-wraper.style-6 .dz-title {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.icon-bx-wraper.style-6 {
    padding: 20px 35px 70px 35px;


}

.tagcloud a {
    position: relative;
    border: 1px solid;
    padding: 12px 24px;
    display: inline-block;
    margin: 0 15px 15px 0;
    font-size: 16px;
    color: #000;
    line-height: 1.4;
    border-radius: var(--border-radius-sm) !important;
    width: 100%;
}

.dz-card.style-1 .btn-link {
    position: relative;
    top: 5px;
    display: inline;
    padding: 12px 24px;
    border: 1px solid #033DA8;
    background: #033DA8;
    color: white;

}

/* .dz-card.style-1 .btn-link:hover {
    border: 1px solid #033DA8;
    background: white;
    color: #033DA8;
} */

.tagcloud a:hover {
    box-shadow: 4px 3px 4px #777777;
    transform: translateY(-0.15em);
    color: #033DA8 !important;
}


.tagcloud a i {
    color: #777777;

}

.tagcloud a:hover i {
    color: white;
}

@media screen and (max-width:400px) {
    .tagcloud a {
        font-size: 15px;
    }
}



/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.icon-bx-wraper.style-6 .btn,
.icon-bx-wraper.style-6 .wp-block-button__link {
    width: 60px !important;
    height: 50px;
    bottom: 10px;
}

nav .pagination .page-item .page-numbers,
nav .pagination .page-item .page-link.prev {
    height: 45px;
    min-width: 45px;
    line-height: 42px;
    border-radius: 0;
    color: #777777;
    text-align: center;
    border: 0;
    padding: 0;
    transition: all 0.5s;
    border: 1px solid;
    border-color: #777777;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    border-radius: var(--border-radius-sm);
}

nav .pagination .page-item .page-numbers,
nav .pagination .page-item .page-link.next {
    height: 45px;
    min-width: 45px;
    line-height: 42px;
    border-radius: 0;
    color: #777777;
    text-align: center;
    border: 0;
    padding: 0;
    transition: all 0.5s;
    border: 1px solid;
    border-color: #777777;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    border-radius: var(--border-radius-sm);
}

.blur-mobile {
    backdrop-filter: blur(1px);
}

@media screen and (min-width:768px) and (max-width:991px) {
    div.about-sec-txt {
        margin-top: 50px !important;
    }

    .tagcloud a {
        font-size: 15px !important;
    }
}

/*/ start count stats /*/

section#counter-stats {

    justify-content: center;
    margin-top: 100px;
}

.stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.stats .fa {
    color: #008080;
    font-size: 60px;
}

/*/ end count stats /*/
.icon-bx-wraper.new-box.style-6 {
    border: 1px solid #033DA8 !important;
    border-radius: 5px !important;
}

.icon-bx-wraper.new-box.style-6 .btn {
    letter-spacing: 1px;
    width: 70px !important;
    text-align: left !important;

}

@media screen and (max-width:991px) {
    .busines-card {
        padding-top: 0px;
    }

    .counter-area-1 .media-full {
        width: 75vw;
        height: 100%;
        border-left: 5px solid var(--primary);
    }

    .dz-bnr-inr.dz-bnr-inr-lg .dz-bnr-inr-entry {
        height: 300px !important;
    }

    .dz-bnr-inr.dz-bnr-inr-lg {
        height: 360px !important;
    }

    .icon-bx-wraper.style-6 .dz-title {
        font-size: 18px;
    }

    .about-media.style-1 {
        width: 100%;
    }
}

.dz-bnr-inr.dz-bnr-inr-lg .dz-bnr-inr-entry {
    height: 560px !important;
}

/* .dz-bnr-inr.dz-bnr-inr-lg {
    height: 500px;
} */

.icon-lg img {
    vertical-align: middle;
    max-width: 100%;
    width: auto;
    height: 50px;
}

.pagination .page-item .page-numbers.current,
nav .pagination .page-item .page-numbers.active,
nav .pagination .page-item .page-numbers:hover,
nav .pagination .page-item .page-link.current,
nav .pagination .page-item .page-link.active,
nav .pagination .page-item .page-link:hover {
    color: #fff;
    background-color: #033DA8;
    border-color: #033DA8;
}

/* .silder-one .silder-content .title span {
    text-decoration: none !important;
} */

.font-size-30 {
    font-size: 30px;
    position: relative;
    top: 4px;
}

.text-light {
    color: #033da8ab !important;
}

.overlay-sec {
    position: relative;
    z-index: 1;
}

.overlay-sec img.line-img {
    position: absolute;
    width: 900px;
    left: 260px;
    height: 100%;
    z-index: 2;

}



.site-header.style-1.header-transparent .main-bar .container {
    border-radius: 250px 0px 0px 250px;
}

.dz-bnr-inr.style-1.dz-bnr-inr-lg.overlay-black-middle.custom-bread-height {
    height: 450px;
}

.close-c-btn {
    margin-left: auto;
}

.icon-bx-wraper.style-6 .dz-title.custom-title-pad {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 20px;
}

ul.breadcrumb li:last-child {
    color: rgb(204, 201, 201) !important;
}

.page-item.active .page-link {

    background: #033DA8 !important;
    color: white !important;
}

.offer-indexx-bread {

    background: url('../images/banner/bnr12.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}

.widget_categories ul li a:before {


    left: -17px !important;

}

.icon-bx-wraper.style-6.new-hover-box {
    min-height: 230px;
}

.dz-media a img.exhibition-img {
    height: 250px;
    object-fit: cover;
    width: 100%;


}

img.custom-gallery-img {
    height: 330px;
    object-fit: contain;
    width: 330px;
}

.show-exhi {

    background-image: url('../images/banner/bnr14.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.offer-show-img {
    background-image: url('../images/banner/bnr13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.lb-outerContainer {
    width: 100% !important;
    height: auto;


}

.lightbox .lb-image {
    margin: auto;
}


img.offer-show-custom-img {
    object-fit: contain;
    max-height: 350px;
}

@media screen and (max-width:302px) {
    .silder-one .silder-content .title {
        font-size: 25px !important;
    }

    div.dz-bnr-inr.dz-bnr-inr-lg {
        position: relative;
        top: -80px !important;
    }

    .site-header.style-1.header-transparent .main-bar .container {
        border-radius: 0px !important;
        height: 30px !important;
    }

    .site-header.style-1.header-transparent .is-fixed .main-bar {
        height: 80px !important;
    }

    .section-head.style-1.text-center .sub-title {

        font-size: 12px;
    }

    .pt--0about {
        padding-top: 0px !important;
    }

    .section-head.style-1 h2,
    .section-head.style-1 .h2 {
        font-size: 1.3rem !important;
    }

    .about-sec-txt {
        position: relative;
        top: -175px !important;
    }

    .dz-bnr-inr.style-1 h1,
    .dz-bnr-inr.style-1 .h1 {
        font-size: 26px !important;
    }

    .custom-sec-about {
        position: relative;
        top: -75px !important;
    }

    .about-sec--2 {
        position: relative;
        top: -175px !important;
    }

    .custom-h {
        height: 3700px;
    }

    .dz-meta ul li {
        font-size: 12px !important;
    }

    .dz-media a img.exhibition-img {
        width: 220px !important;

    }

    .center-sm {
        text-align: center !important;
    }

    .offer-sec-height {

        position: relative;
        top: -77px !important;
    }

    .tagcloud a {
        font-size: 11px !important;
    }

    .custom-h-exhi {
        margin-top: 0px !important;
    }

    .cat-item a {
        font-size: 12px !important;
    }

    li.mb-3.align-items-center.d-flex span {
        font-size: 12px !important;
    }

    li span a.text-gray {
        font-size: 12px !important;
    }

    .widget.widget_about p,
    span.copyright-text {
        font-size: 12px !important;
    }

    .custom-oem-btn {
        font-size: 13px !important;
    }
}

.pswp {
    z-index: 9999 !important;

}

.dz-info.custom-card-offer {
    padding: 15px 30px 30px 30px !important;
}

.view-btn.ltr-space.shadow-primary.btn-primary {
    padding: 14px 35px !important;
}

.custom-btn.btn-primary {
    padding: 14px 27px !important;
    letter-spacing: 1px !important;

}

.dz-title {
    line-height: 25px !important;
    word-break: break-word !important;
}

.dz-bnr-inr-entry {
    word-break: break-all !important;
}

li.list-group-item {
    word-break: break-all !important;
}

.dz-post-text p {
    position: relative !important;
    top: -1px !important;
    word-break: break-all !important;
}

.dz-post-text.mt--div p {
    position: relative !important;
    top: -15px !important;
    word-break: break-all !important;
}

.copyright-text {
    font-size: 14px !important;
}

img.w-45-px {
    width: 40px;
}

.dz-slide-item.overlay-black-middle.third {
    background-image: url('../images/main-slider/img-3.jpg');
    background-repeat: no-repeat;

}

.dz-slide-item.overlay-black-middle.second {
    background-image: url('../images/main-slider/img-2.jpg');
    background-repeat: no-repeat;

}

.dz-slide-item.overlay-black-middle.first {
    background-image: url('../images/main-slider/img-1.jpg') !important;
    background-repeat: no-repeat;

}

.dz-bnr-inr.style-1.dz-bnr-inr-lg.overlay-black-middle.exhibiton-bnr {
    background-image: url('../images/banner/bnr10.jpg');
    background-repeat: no-repeat;
}

.dz-topbar-left ul li a.head-email:hover {
    color: rgba(255, 255, 255, 0.733);
}

div.sitemap-row div.sitemap-mt {
    margin-top: 36px;
}

.font-w-600 {
    font-weight: 600 !important;
}

.dz-card.style-1 .btn-link.exhibition-read-more {
    padding: 15px 26px !important;
}
@media screen and (min-width:767px) and (max-width:850px){
.counter-area-1 .media-full {
    width: 85vw !important;


}
}
img.icon-w-25
{
    width: 25px !important;
}
.client-slide{
    background: rgba(128, 128, 128, 0.068);
    border-radius: 5px;
    padding: 5px;
}


